body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ffcc33, #ff6666, #66ccff);
    color: #333;
    transition: all 0.3s ease-in-out;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background 0.3s ease-in-out;
}

header:hover {
    background: #555;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ffcc33;
}

.content-section {
    display: none;
    padding: 40px 20px;
    margin: 40px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.content-section.active {
    display: block;
}

h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #333;
    transition: color 0.3s ease-in-out;
}

h1:hover {
    color: #ff6666;
}

.photo-container {
    perspective: 1000px;
    transition: all 0.3s ease-in-out;
}

.profile-photo {
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
}

.profile-photo:hover {
    transform: rotateY(360deg);
}

.education, .project, .blog {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    transition: all 0.3s ease-in-out;
}

.education:hover, .project:hover, .blog:hover {
    transform: scale(1.02);
    background: #f0f0f0;
}

.social-links {
    text-align: center;
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    font-size: 1.5em; /* Increase the size of the social media links */
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out;
}

form input:focus, form textarea:focus {
    border-color: #ff6666;
}

form button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

form button:hover {
    background: #555;
}
